<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Mis CronoActividades</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let actividad of listaActividades " (click)="1">
      <ion-icon [name]="actividad.icono" actividad start></ion-icon>
      {{actividad.nombre}}

    </button>
  </ion-list>
  <div *ngIf="listaActividades"  padding>
    No hay actividades activas.
  </div>
</ion-content>
