body {
    background: #E75B47;
    background-image: linear-gradient(-89deg, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.00) 100%);
    text-align: center;
  }
  
  .bolt {
    fill: hsl(7, 50%, 38%);
    filter: url(#bolt-inner-shadow);
  }
  
  .bolt.loading {
    animation: light-pulse 2s infinite;
  }
  .life{
    fill: hsl(245, 54%, 53%);
    filter: url(#bolt-inner-shadow);
    animation: light-pulse-blue 2s infinite;
  }
  
  @keyframes light-pulse {
    1%   { fill: hsl(7, 50%, 38%); }
    50%  { fill: hsl(7, 50%, 78%); }
    100% { fill: hsl(7, 50%, 38%); }
  }
  @keyframes light-pulse-blue {
    1%   { fill: hsl(245, 54%, 53%); }
    50%  { fill: hsl(7, 50%, 78%); }
    100% { fill: hsl(245, 54%, 53%); }
  }
  
  
  @keyframes pulse {
    1%   { transform: scale(0.7); }
    25%  { transform: scale(1.1); }
    45%  { transform: scale(0.9); }
    63%  { transform: scale(1.05); }
    79%  { transform: scale(0.95); }
    100% { transform: scale(1.0); }
  }